.hamburger {
    /* background-color: red; */
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 150;
    right: 2rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}

.show-menu .hamburger {
    right: 16rem;
}

.line {
    width: 100%;
    height: .1rem;
    margin-top: 1px;
    margin-bottom: 1px;
    background-color: #fff;
    box-shadow: 0.1rem 0.1rem 1px #000;
    transition: transform 1s;
}

.show-menu #line1 {
    transform: rotate(45deg) translate(.3rem, .45rem);
}

.show-menu #line2 {
    opacity: 0;
    visibility: hidden;
}

.show-menu #line3 {
    transform: rotate(-45deg) translate(.3rem, -.45rem);
}

.hamburger span {
    position: absolute;
    left: 3rem;
    height: 2rem;
    width: 6rem;
    background-color: #a044ff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-family: var(--font-action);
    opacity: 0;
}

.hamburger span::before {
    content: '';
    position: absolute;
    border-right: .5rem solid #a044ff;
    border-top: .5rem solid transparent;
    border-left: .5rem solid transparent;
    border-bottom: .5rem solid transparent;
    left: -1rem;
}

.show-menu .hamburger:hover span {
    opacity: 1;
}